{% extends 'base.html' %}


{% block content %}

  <div class="mt-5">
      <h2 class="text-center">About IKRAM QA</h2>
  </div>
  <div class="container fill mt-5 mb-5">
    <p>IKRAM QA Services Sdn. Bhd. (IKRAM QA) is an Independent Certification Body that operates a Product Certification Scheme generally for construction products. It was incorporated on 23rd March 1999 as a fully owned subsidiary of Kumpulan Ikram Sdn. Bhd..
    </p>
  <p>IKRAM QA accredited by Department of Standards Malaysia (Standards Malaysia) since 2009 with Accreditation No: ACB PC 03 which compliance to ISO/IEC 17065. The product certification schemes are recognized by Ministry of Finance Malaysia (MOF), Construction Industry Development Board Malaysia (CIDB), National Water Services Commission (SPAN), Malaysian Public Works Department (JKR) and other local regulatory bodies.
  </p>
  <p>IKRAM QA is also an appointed independent body to provide certification and listing of local construction product for use in government projects. The appointment was made by the MOF through the 1Pekeliling Perbendaraan (1PP), PK 1/2013 Punca Kuasa, Prinsip dan Dasar Perolehan Kerajaan.
  </p>
  <p>Aside from product certification, IKRAM QA also provides testing services through its Material Testing Laboratory which is accredited according to MS ISO/IEC 17025 and Inspection Services according to ISO/IEC 17020.
  </p>
  </div>

{% endblock content %}