{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center">Company Profile</h2>
</div>
<div class="container fill mt-5 mb-5">
<div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex">
          <div class="card">
            <div class="card-body text-center d-flex flex-column">
              <h5 class="card-title">IKRAM QA BUSINESS PROFILE 2024</h5>
              <div class="d-grid gap-2 col-6 mt-auto mx-auto">
                <a href="{% static 'files/Company Profile/IKRAM QA BUSINESS PROFILE 2024.pdf' %}" class="btn btn-primary" target="_blank">View</a>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="col-sm-4 d-flex">-->
<!--          <div class="card">-->
<!--            <div class="card-body text-center d-flex flex-column">-->
<!--              <h5 class="card-title">IQAS-F-26 Application for Amendment of Certificate</h5>-->
<!--              <div class="d-grid gap-2 col-6 mt-auto mx-auto">-->
<!--                <a href="{% static '/files/IQAS-F-26 E6-Application for Amendment of Certificate.pdf' %}" class="btn btn-primary" target="_blank">View</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
    </div>
</div>
{% endblock content %}