{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center">Testing</h2>
</div>
<div class="container fill mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex">
          <div class="card">
            <div class="card-body text-center d-flex flex-column">
              <h5 class="card-title">IQAS-ML-F11 APPLICATION TO CONDUCT TEST</h5>
              <div class="d-grid gap-2 col-6 mt-auto mx-auto">
                <a href="{% static '/files/Testing/IQAS-ML-F-11 APPLICATION TO CONDUCT TEST.pdf' %}" class="btn btn-primary" target="_blank">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 d-flex">
          <div class="card">
            <div class="card-body text-center d-flex flex-column">
              <h5 class="card-title">IQAS-ML-F38 APPLICATION TO CONDUCT TEST FOR PRODUCT CERTIFICATION</h5>
              <div class="d-grid gap-2 col-6 mt-auto mx-auto">
                <a href="{% static '/files/Testing/IQAS-ML-F-38 APPLICATION TO CONDUCT TEST FOR PRODUCT CERTIFICATION.pdf' %}" class="btn btn-primary" target="_blank">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}