{% extends 'base.html' %}


{% block content %}
    <div class="container fill mt-5">
      <h2>VISION</h2>
    </div>
    <div class="container fill mt-4">
<p style="font-size:20px;">To be internationally recognized and locally preferred testing, inspection and certification body.
</p>
</div>

<div class="container fill mt-4">
  <h2>MISSION</h2>
</div>
<div class="container fill mb-5">
<br/><p style="font-size:20px;">To excel in our core business of testing and certification, we need:
</p><br/>
    <ul class="bullets">
      <li>To recruit and retain the best talent.</li>
      <li>To develop the skill and optimized the human resource.</li>
      <li>To develop, maintain and continuously improve operational and delivery procedures.</li>
      <li>To continuously upgrade and maintain the facilities capable of meeting the requirements in line with the corporate vision.</li>
    </ul>
  <br/>
<p style="font-size:20px;">To be a successful and preferred testing and certification body, we need:
</p><br/>
    <ul class="bullets">
      <li>To continuously improve our capabilities and processes.</li>
      <li>To understand fully our customers' and suppliers' needs.</li>
      <li>To be productive, creative and innovative.</li>
    </ul>
</div>

{% endblock content %}